<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Abdulazizkakeh"
        tools:targetApi="31">
        <activity
            android:name=".batma2"
            android:parentActivityName=".tatli2"
            android:exported="false" />
        <activity
            android:name=".balk1"
            android:parentActivityName=".tatli2"
            android:exported="false" />
        <activity
            android:name=".lahem"
            android:exported="false"
            android:parentActivityName=".kultur2" />
        <activity
            android:name=".ali"
            android:exported="false"
            android:parentActivityName=".kultur2" />
        <activity
            android:name=".bay"
            android:exported="false"
            android:parentActivityName=".antrih" />
        <activity
            android:name=".zeu1"
            android:exported="false"
            android:parentActivityName=".antrih" />
        <activity
            android:name=".kalis1"
            android:exported="false"
            android:parentActivityName=".antrih" />
        <activity
            android:name=".tatli2"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kultur2"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".antrih"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".shant"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>